*~
config.ini
.tags*
*.egg-info
*.mo
*.pyc
*.pyo

# tex files
*.aux
*.bbl
*.blg
*.log
*.out
*.gz

.pydevproject
.spyderproject
.spyproject
.vscode
/.coverage
/.noseids
/.project
/.settings
/build
/cover
/dist
/tags


# Windows image file caches
Thumbs.db
ehthumbs.db