*~
config.ini
.tags*
*.egg-info
*.mo
*.pyc
*.pyo
*.h5
*.zip

# tex files
*.aux
*.bbl
*.blg
*.log
*.out
*.gz
*.toc

.pydevproject
.spyderproject
.spyproject
.vscode
/.coverage
/.noseids
/.project
/.settings
/build
/cover
/dist
/tags

.DS_Store

# Windows image file caches
Thumbs.db
ehthumbs.db


#
fonction_publique/assets/grilles_fonction_publique/grilles.h5
fonction_publique/assets/grilles_fonction_publique/grilles_old.h5
fonction_publique/assets/grilles_fonction_publique/Grilles_avec_DateEffet_fin.csv
fonction_publique/tags

#
fonction_publique/ecrits/**/*.pdf